<div class="d-block mt-5 pt-5">
    <mat-grid-list cols="3" rowHeight="320px">
        <mat-grid-tile *ngFor="let c of characters">
            <mat-card [routerLink]="['/character', c._id]" class="card w-75 h-75">
                <img mat-card-image src="{{c.imageUrl}}" class="mw-100 h-75" alt="Imagen de {{c.name}}">
                <mat-card-content class="card-body overflow-hidden">
                    <p class="card-title">{{c.name}}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!--class="card-img-top  "
class="card h-100 m-1" style="max-width: 9rem; max-height: 13rem"-->